{% extends 'base.html' %}
{% load static %} 
{% block title %} About {% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/about_me.css' %}" />
{% endblock css %}

{% block content %}
<section class="container my-5">
  <div class="row align-items-center">
    <!-- Profile Picture -->
   <div class="col-md-4 text-center mb-4">
  <img
    src="{% static 'img/profilepic.jpg' %}"
    alt="Profile Picture"
    class="img-fluid rounded-circle shadow"
    style="width: 250px; height: 275px; object-fit: cover;"
  />
</div>

    <!-- About Me -->
    <div class="col-md-8">
      <h1 class="about-tittle">About Me</h1>
      <p class="about-text">
        Hello! I'm <strong>Jake Rivera</strong>, currently enrolled in a Full
        Stack Development program at <strong>SDGKU (San Diego Global Knowledge University)</strong>. I build responsive, dynamic web
        applications using Django, HTML, CSS, JavaScript, and Bootstrap.
      </p>

      <p class="about-text">
        Throughout this course, I've been learning how to write cleaner and more organized code while getting comfortable building projects in <strong>Django</strong>. I've been improving my front-end and back-end skills, taking on challenges, and growing more confident as I learn new tools and technologies.
      </p>


      <p class="about-text">
        When I'm not coding, I enjoy playing video games, going for drives while
        listening to music, and trading Futures contracts.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
