{% load static %}

<footer class="footer bg-dark text-center py-4 mt-5">
    <div class="footer-container">
        <p class="mb-2">Follow me on social media:</p>

        <!-- TikTok Icon -->
        <a href="https://www.tiktok.com/@jakeyboi_32?_r=1&_t=ZT-925XLK9MRdv" target="_blank" class="mx-2">
            <img src="{% static 'img/tiktok.png' %}" alt="TikTok" width="30" height="30">
        </a>

        <!-- Twitch Icon -->
        <a href="https://www.twitch.tv/turkazoid" target="_blank" class="mx-2">
            <img src="{% static 'img/twitch.png' %}" alt="Twitch" width="30" height="30">
        </a>

        <!-- GitHub Icon -->
        <a href="https://github.com/jakeriveraa" target="_blank" class="mx-2">
            <img src="{% static 'img/github.png' %}" alt="GitHub" width="30" height="30">
        </a>
        
        <p class="mt-3 small">&copy; 2025 My Portfolio</p>
    </div>
</footer>
